@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {

  .text-indigo {
    @apply bg-gradient-to-br from-slate-100 to-indigo-900 bg-clip-text text-transparent ;
  }
}

.glow{
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 200px 80px #ec4899; /* outer cyan */

}

.glow1{
width: 0px;
height: 0px;
border-radius: 50%;
box-shadow: 0 0 300px 60px #8b5cf6; /* outer cyan */

}
.glow2{
width: 0px;
height: 0px;
border-radius: 50%;
box-shadow: 0 0 900px 100px #10b981; /* outer cyan */

}

.glow3{
width: 0px;
height: 0px;
border-radius: 50%;
box-shadow: 0 0 200px 130px #ec4899; /* outer cyan */

}

.glow4{
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 200px 130px #8e96f0; /* outer cyan */
  
  }

* {
scroll-behavior: smooth;
}